In [37]:
"""
This is a database from IMDB with 5000 movies released up from 1916 to 2016 (a century) 
There are several questions we want to answer by looking into this database. Here is working guide: 

1. Load and check the DataFrame
2. Do simple statistics on the data
3. Find out NaN entries
4. Eliminate double entries

Once we have cleaned the data here are some questions we would like to answer: 

1. What is the most grossing movie? (that is the revenue surpased the budget by a big margin)
2. What is the lowest grossing movie?
3. Do highly rated movies perform better in terms of revenue?
4. Who is the most successful movie director?
5. Which genre brings in more money in the industry? (test this by the best 10 movies in each category)
6. Which is the worst performing genre in terms of revenue? (use the same top 10 movies of low earners)




"""

'\nThis is a database from IMDB with 5000 movies released up from 1916 to 2016 (a century) \nThere are several questions we want to answer by looking into this database. Here is working guide: \n\n1. Load and check the DataFrame\n2. Do simple statistics on the data\n3. Find out NaN entries\n4. Eliminate double entries\n\nOnce we have cleaned the data here are some questions we would like to answer: \n\n1. What is the most grossing movie? (that is the revenue surpased the budget by a big margin)\n2. What is the lowest grossing movie?\n3. Do highly rated movies perform better in terms of revenue?\n4. Who is the most successful movie director?\n5. Which genre brings in more money in the industry? (test this by the best 10 movies in each category)\n6. Which is the worst performing genre in terms of revenue? (use the same top 10 movies of low earners)\n\n\n\n\n'

In [2]:
#import the necessary libraries
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Load the data
df = pd.read_csv('movie_metadata.csv')

In [4]:
# see the first lines of the dataframe
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [5]:
# Simple stats

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [6]:
# and describe
df.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [7]:
# drop duplicates and see how many rows you should have
df.drop_duplicates(inplace=True)

In [8]:
# see the dataframe again
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4998 entries, 0 to 5042
Data columns (total 28 columns):
color                        4979 non-null object
director_name                4895 non-null object
num_critic_for_reviews       4949 non-null float64
duration                     4983 non-null float64
director_facebook_likes      4895 non-null float64
actor_3_facebook_likes       4975 non-null float64
actor_2_name                 4985 non-null object
actor_1_facebook_likes       4991 non-null float64
gross                        4124 non-null float64
genres                       4998 non-null object
actor_1_name                 4991 non-null object
movie_title                  4998 non-null object
num_voted_users              4998 non-null int64
cast_total_facebook_likes    4998 non-null int64
actor_3_name                 4975 non-null object
facenumber_in_poster         4985 non-null float64
plot_keywords                4846 non-null object
movie_imdb_link              4998 non-null object
num_user_for_reviews         4977 non-null float64
language                     4986 non-null object
country                      4993 non-null object
content_rating               4697 non-null object
budget                       4511 non-null float64
title_year                   4891 non-null float64
actor_2_facebook_likes       4985 non-null float64
imdb_score                   4998 non-null float64
aspect_ratio                 4671 non-null float64
movie_facebook_likes         4998 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [10]:
# We need to decide that we do not need all the columns for the immediate questions we have
# We will create a new dataframe and preserve the original. 

df2 = df[['director_name', 'movie_title', 'genres', 'budget', 'gross', 'country', 'imdb_score', 'title_year']]

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4998 entries, 0 to 5042
Data columns (total 8 columns):
director_name    4895 non-null object
movie_title      4998 non-null object
genres           4998 non-null object
budget           4511 non-null float64
gross            4124 non-null float64
country          4993 non-null object
imdb_score       4998 non-null float64
title_year       4891 non-null float64
dtypes: float64(4), object(4)
memory usage: 351.4+ KB

In [14]:
df2.dropna(inplace=True)

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [15]:
# We had to make a huge stride in our data but we have paid dearly for it. We have over 1000 rows scrapped off. 
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3857 entries, 0 to 5042
Data columns (total 8 columns):
director_name    3857 non-null object
movie_title      3857 non-null object
genres           3857 non-null object
budget           3857 non-null float64
gross            3857 non-null float64
country          3857 non-null object
imdb_score       3857 non-null float64
title_year       3857 non-null float64
dtypes: float64(4), object(4)
memory usage: 271.2+ KB

In [17]:
# Lets create df3 and hopefully see if our important rows will remain

df3 = df[['director_name', 'movie_title', 'genres', 'budget', 'gross', 'country', 'imdb_score', 'title_year']]

In [18]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4998 entries, 0 to 5042
Data columns (total 8 columns):
director_name    4895 non-null object
movie_title      4998 non-null object
genres           4998 non-null object
budget           4511 non-null float64
gross            4124 non-null float64
country          4993 non-null object
imdb_score       4998 non-null float64
title_year       4891 non-null float64
dtypes: float64(4), object(4)
memory usage: 351.4+ KB

In [20]:
df3.gross.dropna(inplace=True)

C:\Anaconda2\lib\site-packages\pandas\core\series.py:2622: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(result)

In [22]:
df3.budget.dropna(inplace=True)

In [23]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4998 entries, 0 to 5042
Data columns (total 8 columns):
director_name    4895 non-null object
movie_title      4998 non-null object
genres           4998 non-null object
budget           4511 non-null float64
gross            4124 non-null float64
country          4993 non-null object
imdb_score       4998 non-null float64
title_year       4891 non-null float64
dtypes: float64(4), object(4)
memory usage: 340.8+ KB

In [27]:
df3['gross'].sum()

199294976012.0

In [28]:
# We think we can now move on to the first question:
# 1. What is the most grossing movie? (that is the revenue surpased the budget by a big margin)

In [29]:
# we create a new column 'profit' which is the the difference of gross and budget

df3['profit'] = df3['gross'] - df3['budget']

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [30]:
df3.head()

,director_name,movie_title,genres,budget,gross,country,imdb_score,title_year,profit
0,James Cameron,Avatar,Action|Adventure|Fantasy|Sci-Fi,237000000.0,760505847.0,USA,7.9,2009.0,523505847.0
1,Gore Verbinski,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy,300000000.0,309404152.0,USA,7.1,2007.0,9404152.0
2,Sam Mendes,Spectre,Action|Adventure|Thriller,245000000.0,200074175.0,UK,6.8,2015.0,-44925825.0
3,Christopher Nolan,The Dark Knight Rises,Action|Thriller,250000000.0,448130642.0,USA,8.5,2012.0,198130642.0
4,Doug Walker,Star Wars: Episode VII - The Force AwakensÂ ...,Documentary,NaN,NaN,NaN,7.1,NaN,NaN

In [31]:
df3['profit'].max()

523505847.0

In [36]:
df3.movie_title[df3.profit== 523505847.0]

0    AvatarÂ
Name: movie_title, dtype: object

In [38]:
# According to my analysis Avatar is the most grossing movie in 100 years. Having over US$523,505,847 Wow!

In [39]:
# 2. What is the lowest grossing movie?

In [41]:
df3['profit'].min()

-12213298588.0

In [44]:
df3.director_name[df3.profit == df3['profit'].min()]

2988    Joon-ho Bong
Name: director_name, dtype: object

In [43]:
df[df.movie_title == 'The Host']

Empty DataFrame
Columns: [color, director_name, num_critic_for_reviews, duration, director_facebook_likes, actor_3_facebook_likes, actor_2_name, actor_1_facebook_likes, gross, genres, actor_1_name, movie_title, num_voted_users, cast_total_facebook_likes, actor_3_name, facenumber_in_poster, plot_keywords, movie_imdb_link, num_user_for_reviews, language, country, content_rating, budget, title_year, actor_2_facebook_likes, imdb_score, aspect_ratio, movie_facebook_likes]
Index: []

[0 rows x 28 columns]

In [ ]:
# The host is the worst grossing movie making losses of US$12,213,298,588. This doesn't seem like a real figure.